.hero {
    background: $colourDarkBlue;
    background: linear-gradient(180deg, $colourDarkBlue 0%, $colourLightBlue 100%);
    height: 475px;

    h1, h2 {
        color: $colourWhite;
    }

    h2 {
        margin-top: 1rem;
    }

    .slider {
        &__nav {
            width: 60%;
            margin: 0 auto;

                button {
                    height: 45px;
                    background: transparent;
                    border: 4px solid $colourWhite;
                    color: $colourWhite;
                    margin: 0 1rem;
                    display: flex !important;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100px;
                    border: solid 2px $colourLightGrey;
                    font-size: 1rem;

                    &:hover {
                        background: $colourWhite;
                        color: $colourDarkGrey;
                    }
                }
            

            .slick-slide {
                margin: 0 0.5rem;

                &.slick-current {
                    button {
                      background: $colourWhite;
                      color: $colourDarkGrey;
                    }
                }
            }
        }

        &__single {

            .slick-slide {
                img {
                    display: block;
                    margin: 4rem auto 0 auto;
                }
                &:first-of-type {
                    img {
                        width: 482px;
                    }
                }
                &:nth-of-type(2) {
                    img {   
                        width: 414px;
                    }
                }
                &:nth-of-type(3) {
                    img {
                        width: 500px;
                    }
                }
                &:nth-of-type(4) {
                    img {
                        width: 700px;
                    }
                }

                @include media-breakpoint-down(sm) {
                    width: 50%;
                }
            }
        }
    }
}   
